@model dynamic

@{
    ViewBag.Title = "Install YANBE";
}


<div class="row">
    <div class="col-md-8">
        <h2>Install YANBE</h2>
        @Html.ActionLink("Setup account", "CreateAccount", "Install");
    </div>
</div>