@model dynamic

@{
    ViewBag.Title = "Install YANBE";
}


<div class="row">
    <div class="col-md-8">
        <h2>Install YANBE</h2>
        <ol>
            <li>@Html.ActionLink("Configure installation", "Settings", "Install")</li>
            <li>@Html.ActionLink("Setup account", "CreateAccount", "Install")</li>
        </ol>
    </div>
</div>